# URL Express backend (server-only). Diakses hanya dari Route Handlers / Server Components.
BACKEND_API_URL=http://localhost:5000

# "true" = pakai data mock untuk fitur yang belum ada di backend.
NEXT_PUBLIC_USE_MOCKS=true
